<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
        <div>
          <h1>Inscreva-se na nossa Newsletter</h1>
          <form>
            <fieldset>
              <label for="email" hide>E-mail</label>
              <input type="email" name="email" id="email" placeholder="Digite seu E-mail">
              <button type="submit">iniciar</button>
            </fieldset>
          </form>
        </div>
        <div>
          <div>
            <img src="" alt="" srcset="">
            <small>
              &copy; Copyright 2022. Todos os direitos reservados.
            </small>
          </div>
          <div>
            <img src="assets/images/Instagram.svg" alt="">
            <img src="assets/images/Pinterest.svg" alt="">
            <img src="assets/images/Twiter.svg" alt="">
          </div>
          <div>
            <img src="assets/images/PAYPAL.svg" alt="">
            <img src="assets/images/VISA.svg" alt="">
            <img src="assets/images/APPLE PAY.svg" alt="">
          </div>
        </div>
      </footer>
</body>
</html>