
      <footer class="footer">
          <div class="footer-top">
            <h1>Inscreva-se na nossa Newsletter</h1>
            <form>
              <fieldset>
                <label for="email" hidden>E-mail</label>
                <input type="email" name="email" id="email" placeholder="Digite seu E-mail">
                <button type="submit">iniciar</button>
              </fieldset>
            </form>
          </div>
          <div class="footer-bottom">
            <div class="footer-copy">
              <img src="/assets/images/RAVI.svg" alt="" class="footer-copy--img">
              <small class="footer-copy--small">
                &copy; Copyright 2022. Todos os direitos reservados.
              </small>
            </div>
            <div class="footer-socialmedias">
              <img src="assets/images/Instagram.svg" alt="">
              <img src="assets/images/Pinterest.svg" alt="">
              <img src="assets/images/Twiter.svg" alt="">
            </div>
            <div class="footer-payments">
              <img src="assets/images/PAYPAL.svg" alt="">
              <img src="assets/images/VISA.svg" alt="">
              <img src="assets/images/APPLE PAY.svg" alt="">
            </div>
          </div>
        </footer>