
<header class="cabecalho">
  <div>
    <nav>
      <ul>
        <li><a href="">Início</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Loja</a></li>
      </ul>
    </nav>
  </div>
  <div>
    <img src="assets/images/RAVI.svg" alt="Logo do e-commerce" class="logo">
  </div>
  <div>
    <nav>
      <ul>
        <li><a href="">Pesquisa</a></li>
        <li><a href="">Carrinho</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </nav>
  </div>
</header>
