@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
     background-color: gray;
}

main {
     width: 90vw;
     margin: 0 5vw;
}

a[href][role="button"],
button,
input[type="submit"] {
     background-color: #76685F;
     padding: 1rem 2rem;
     /* atalho para definir padding, primeiro cima e baixo, segundo esquerda e direita*/
     color: #F5F5F5;
     border-style: none;
}


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: ease-in-out .6s;
    text-decoration: none;
    /* border: 1px solid red; para depurar e visualizar as caixas*/
  }
  
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  nav ul li {
    margin-right: 10px;
    padding: 10px;
    /* padding-left: 20px; */
  }