/* Global Changes
     ========================================================================== */
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

     body {
          background-color: white;
     }

/* Header Changes
     ========================================================================== */  
     
     .cabecalho {
          display:flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          padding: .5rem;
          margin-bottom: 1rem;
          width: 100vmax;
          background-color: white;
          box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
     }

     a[href] {
          color: gray;
     }

     .cabecalho .logo{
          max-width: 200px;
     }

     a[href]:hover,
     a[href]:active{
          font-weight: bold;
          color: #707070;
     }

     a[href]:active {
          opacity: 0,6;
     }

/* Main Changes
     ========================================================================== */ 

     /* ============ CTA Start============ */ 
     .cta {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-image: url(RAVI-fundo.svg);
          background-repeat: no-repeat;
          background-size: contain;
     }

     .cta-texto,
     .cta-novidades {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: start;
          /* padding: 1rem; */
          padding-bottom: 5rem;
          padding-left: 2rem;
          padding-right: 2rem;

     }

     .cta-texto p {
          margin-bottom: 50px;
          padding-right: 2rem;
     }

     .cta > div {
          width: 100%;
          flex-wrap: nowrap;
     }

     .cta-novidades > div {
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: nowrap;
     }

     .cta-novidades img {
          margin-bottom: 50px;
          padding-right: 2rem;
          width: 15vmax;
     }

     /* ============ CTA End ============ */ 

     /* ============ Categorias Start ============ */

     .categorias {
          display: flex;
          flex-direction: column;
          
     }


/* Footer Changes
     ========================================================================== */ 