/* Global Changes
     ========================================================================== */

/* Main Changes
     ========================================================================== */ 

     /* ============ CTA Start============ */ 
     .cta {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-image: url(RAVI-fundo.svg);
          background-repeat: no-repeat;
          background-size: contain;
     }

     .cta-texto,
     .cta-novidades {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: start;
          /* padding: 1rem; */
          padding-bottom: 5rem;
          padding-left: 2rem;
          padding-right: 2rem;

     }

     .cta-texto p {
          margin-bottom: 20px;
          padding-right: 2rem;
     }

     .cta > div {
          width: 100%;
          flex-wrap: nowrap;
     }

     .cta-novidades > div {
          display: flex;
          flex-direction: row;
          width: 100%;
          flex-wrap: nowrap;
     }

     .cta-novidades img {
          margin-bottom: 50px;
          padding-right: 2rem;
          width: 12vmax;
     }
     
     .cta-imagem img {
          width: 25vw;
     }
     /* ============ CTA End ============ */ 

     /* ============ Categorias Start ============ */

     .categorias--produto-lista {
          flex-direction: column;
          display: flex;
          flex-wrap: wrap;
        }
     
        
     .categorias--produto-lista>div {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
        }
     
     .categorias {

     }

     .menu-categorias {
          display: flex;
          justify-content: center;
     }

     .menu-categorias ul{
          width: 100%;
          background-color: brown;
          flex-wrap: wrap;

     }
     .menu-categorias li {
          display: flex;
          flex: 1;
     }


     /* ============ Categorias End ============ */

     /* ============ Mais Vendidos Start ============ */
     .mais-vendidos {
          display: flex;
          flex-direction: column;
          align-items: center;
     }

     .mais-vendidos-items {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;
          column-gap: 4rem;
     }

     .mais-vendidos-items-boxes {
          display: flex;
          flex-direction: column;
     }

     .mais-vendidos-items-boxes--imagens {
          height: 250px;
     }

     .mais-vendidos-items-boxes--imagens img {
          width: auto;
          height: 100%;
     }

     .mais-vendidos-tagprice {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
     }

     /* ============ Mais Vendidos End ============ */
     
     /* ============ Marcas Start ============ */

     .marcas {
          display: flex;
          justify-content: space-evenly;
     }

     /* ============ Marcas End ============ */

/* Footer Changes
     ========================================================================== */ 